<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header>
  <%= render "layouts/header"%>
</header>
<div class="box">
<% @users.each do |user| %>
  <div class="col">
    <div class="card shadow-sm" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-text"><%=user.profile.name%></h5>
        <p class="card-text"><%=user.email%></p>
        <%unless current_user == user%>
          <%= button_to "Delete", user, method: :delete, class: 'btn btn-danger'%>
          <% if user.profile.role %>
            <%= button_to "Make not an admin", "/users/change_role/#{user.id}", method: :put, class: 'btn btn-success'%>
          <% else %>
            <%= button_to "Make an admin", "/users/change_role/#{user.id}", method: :put, class: 'btn btn-success'%>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>
</div>
</body>