<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header>
  <%= render "layouts/header"%>
</header>
<div class="col">
  <div class="card shadow-sm" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">Email: <%=@user.email%></p>
      <p class="card-text">Name: <%=@profile.name%></p>
      <a href="<%= edit_profile_path %>" class="btn btn-success">Edit</a>
    </div>
  </div>
</div>
</div>
    <%unless @diaries == [nil] %>
    <%@diaries.each do |diary| %>
            <h1><%=diary.time%></h1>
            <h1><%=Profile.find_by_users_id(diary.user_id).name%></h1>
            <h1><%=Dish.find_by_id(diary.dish_id).name%></h1>
    <%end%>
    <%end%>
    <%= form_with model: @diary do |form| %>
      <div>
        <%= form.label :dish_id %>
        <%= form.text_field :dish_id %>
      </div>
      <div>
        <%= form.submit %>
      </div>
    <%end %>
  </div>
</div>
</body>
