<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header>
  <%= render "header"%>
</header>
<div class="col">
  <div class="card shadow-sm" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-text"><%=@user.name%></h5>
      <p class="card-text">Email: <%=@user.email%></p>
    </div>
  </div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
